/**
 * TYPOGRAPHY.LINKS
 *
 * @description : 
 *
 */

.t-link {
    color: var(--foreground);
    border-bottom: 1px solid var(--foreground-50);
    display: inline-block;
    
    &:hover {
        border-bottom: 1px solid var(--foreground);
    }
    
    &.t-link--inline {
        display: inline;
    }
}
