@use '@/assets/scss/1.settings/settings_breakpoints' as bp;

.c-services_list {
  display: grid;
  column-gap: var(--grid-gutter-width);
  row-gap: calc(var(--grid-gutter-width) * 2);
  align-content: stretch;
  
  @media(min-width: bp.$lg){
    gap: var(--grid-gutter-width);
    grid-template-columns: 1fr 1fr;
  }
}