/**
 * ELEMENTS.FORMS
 *
 * @description : Core form styles
 *
 */

$form_el_v_padding: 1em;
$form_el_h_padding: 1.5em;

form {
    width: 100%;
}

label {
    display: inline-block;
}

%text_input {
    border: 0;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    color: inherit;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
    padding: $form_el_v_padding 0;
    width: 100%;

    &:focus {
        border-color: var(--foreground-50);
        outline: none;
    }
    &::placeholder {
        color: inherit;
        opacity: 0.5
    }

    &.--large {
        font-size: 1.5em;
        padding: 0.25em 0;
    }

}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='search'],
input[type='url'] {
    @extend %text_input;
}

input[type='radio'] {
}

input[type='checkbox'] {
}

textarea {
    @extend %text_input;
    min-height: 10em;
    border: 1px solid currentColor;
    border-radius: 12px;
    resize: vertical;
    padding: $form_el_v_padding $form_el_h_padding;
}

input[type='submit'],
button {
    // Remove user agent styles
    appearance: none;
    border-radius: 0; //  Reset for iOS
    border: 0;
    
    display: inline-block;
    padding: 0;
}
