/**
 * GENERIC.TRANSITION.LAYOUT
 *
 * @description : Default transition for layouts
 *
 */

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}