@use '@/assets/scss/1.settings/settings_breakpoints' as bp;


.c-service_card {
  background: var(--grey-90);
  border-radius: 20px;
  padding: clamp(24px, 2vw, 32px);
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 20%;
  column-gap: 1em;
  grid-template-rows: min-content;
  row-gap: 2em;
}

.c-service_card__title {
  font-size: 1.5em;
}

.c-service_card__icon {
  justify-self: end;
}

.c-service_card__description {
  font-size: 14px;
  line-height: 1.4;
  grid-column: span 2;

  @media (min-width: bp.$md) {
    grid-column: unset;
  }
}