.c-service_card {
  padding: clamp(24px, 2vw, 32px);
  border-radius: 20px;
  background: var(--grey-90);
  display: grid;
  grid-template-columns: 1fr 20%;
  column-gap: 1em;
  row-gap: 2em;
}

.c-service_card__title {
  font-size: 1.5em;
}

.c-service_card__icon {
  justify-self: end;
}

.c-service_card__description {
  font-size: 14px;
  line-height: 1.4;
  grid-column: span 2;
}