/**
 * OBJECTS.GRID
 *
 * @description : CSS Grid with 12 Columns
 *
 */


.o-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter-width);
    grid-row-gap: var(--grid-gutter-width);

    &.-collapse {
        column-gap: 0;
    }
}