/**
 * OBJECTS.LAYOUT
 *
 * @description : Core layout objects used in addition to the grid
 *
 */

.o-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $grid-max-width;
}

.o-wrapper--h {
    padding-left: var(--buffer);
    padding-right: var(--buffer);
}